@font-face {
    font-family: 'digitalFont'; /*a name to be used later*/
    src: url('./ds_digital/DS-DIGIT.TTF'); /*URL to font*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.container {
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 100px;
    font-weight: 900;
    font-family: digitalFont;
    letter-spacing: 8px;
    color: rgb(37, 255, 0);
}
.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    color:rgb(242, 247, 241) ;
    background-color: black !important;
}
.row1 button {
    color: aliceblue;
    border-color: aliceblue;
    width: 10rem;
}
.row1 button:hover {
    color: rgb(37, 255, 0);
    background-color: black;
}